<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal - Manual de Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/media_query.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/dashboard">EvaPrompt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Barra lateral -->
            <nav class="col-md-2 d-md-block bg-light sidebar vh-100">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">
                                Primeros pasos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/upload_dataset">
                               Subir Dataset
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/redactor_prompts">
                               Redactor de Prompts
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/v1/chat">
                               Evaluador de Prompts
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/manage_datasets">Gestor de Datasets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/manage_prompts">Historial de Prompts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/estadisticas">
                               Estadísticas
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Contenido principal -->
            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2 ">Primeros pasos</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/upload_dataset'">Subir Dataset</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <section>
                        <p>Para comenzar, dirígete a la sección de "Primeros pasos" en el menú lateral. Aquí encontrarás información básica sobre cómo navegar por la aplicación.</p>
                    </section>
                    
                    <!-- Subir Dataset -->
                    <section>
                        <h2>Subir Dataset</h2>
                        <p>Para subir un dataset, sigue estos pasos:</p>
                        <ol>
                            <li>Haz clic en "Subir Dataset" en el menú lateral.</li>
                            <li>En la página de subida, selecciona el archivo que deseas subir en formato .CSV.</li>
                            <li>Completa cualquier información adicional requerida y haz clic en el botón "Subir".</li>
                            <li>Puedes previsualizar tu dataset antes de subirlo con el botón "Previsualizar"</li>
                    </section>
                    
                    <!-- Evaluador de Prompts -->
                    <section>
                        <h2>Redactor de Prompts</h2>
                        <p>Aquí cuentas con información sobre las técnicas de prompting junto con ejemplos de estas, podrás escribir tus propios prompts y copiarlos en tu portapapeles:</p>
                        <ol>
                            <li>Utiliza la información proporcionada para redactar tu prompt en el campo de texto.</li>
                            <li>Utiliza la etiqueta [ATRIBUTOS] para poner la lista de atributos de tu dataset en el sitio que desees del prompt.</li>
                            <li>Utiliza la etiqueta [FRASE] para poner la frase a clasificar de tu dataset en el sitio que desees del prompt.</li>
                            <li>Presiona el botón "Copiar" para llevártelo al evaluador.</li>
                            <li>Presiona el botón "Limpiar" para vaciar los campos.</li>
                        </ol>
                    </section>

                    <!-- Evaluador de Prompts -->
                    <section>
                        <h2>Evaluador de Prompts</h2>
                        <p>La herramienta de evaluador de prompts te permite probar diferentes prompts y evaluar sus respuestas. Para utilizarla:</p>
                        <ol>
                            <li>Selecciona "Evaluador de prompts" en el menú lateral.</li>
                            <li>Ingresa tu prompt en el campo de texto proporcionado.</li>
                            <li>Tras rellenar la información requerida, envía el mensaje y comenzará la evaluación.</li>
                            <li>Podrás acceder a la evaluación siempre que lo desees, en el apartado "Historial de Prompts" encontrarás el prompt junto a sus resultados.</li>
                            <li>Presiona el botón "Limpiar" para vaciar los campos.</li>
                        </ol>
                    </section>

                    <!-- Gestionar Datasets -->
                    <section>
                        <h2>Gestor de Datasets</h2>
                        <p>Para gestionar tus datasets subidos:</p>
                        <ol>
                            <li>Selecciona "Gestionar Datasets" en el menú lateral.</li>
                            <li>Verás una lista de todos los datasets que has subido.</li>
                            <li>Para eliminar un dataset, haz clic en el botón "Eliminar" junto al dataset correspondiente.</li>
                            <li>Para renombrar un dataset, haz clic en el botón "Renombrar" junto al dataset correspondiente.</li>
                            <li>Para visualizar su contenido, haz clic en el botón "Previsualizar". Aquí también podrás eliminar filas de tu dataset.</li>
                        </ol>
                    </section>

                    <!-- Historial de Prompts -->
                    <section>
                        <h2>Historial de Prompts</h2>
                        <p>Para ver el historial de todos los prompts evaluados:</p>
                        <ol>
                            <li>Haz clic en "Historial de prompts" en el menú lateral.</li>
                            <li>Se mostrará una lista de todos los prompts anteriores junto con toda su información relacionada.</li>
                            <li>Aquí podrás renombrarlos, visualizar su contenido y eliminarlos.</li>
                        </ol>
                    </section>

                    <!-- Estadísticas -->
                    <section>
                        <h2>Estadísticas</h2>
                        <p>Para ver las estadísticas globales de todos los prompts evaluados:</p>
                        <ol>
                            <li>Haz clic en "Estadísticas" en el menú lateral.</li>
                            <li>Se mostrará una gráfica de todos los prompts evaluados con sus métricas.</li>
                            <li>Utiliza los filtros para visualizar la gráfica y extraer la información que te parezca útil.</li>
                        </ol>
                    </section>
                </div>
            </main>
        </div>
    </div>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
