<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No hay datos disponibles</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/media_query.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="col-md-2 d-md-block bg-light sidebar vh-100">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        Primeros pasos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload_dataset">
                       Subir Dataset
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/v1/chat">
                       Evaluador de Prompts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_datasets">Gestor de Datasets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_prompts">Historial de Prompts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/estadisticas">
                       Estadísticas
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>No hay datos disponibles</h1>
        <p>Lo sentimos, en este momento no hay datos disponibles para mostrar.</p>
        <!-- Puedes agregar más contenido o diseño aquí según tus necesidades -->
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
