<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redactor de Prompts</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/media_query.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <style>
    .mt-2 {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/dashboard">EvaPrompt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <!-- Barra lateral -->
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        Primeros pasos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload_dataset">
                       Subir Dataset
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/redactor_prompts">
                       Redactor de Prompts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/v1/chat">
                       Evaluador de Prompts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_datasets">Gestor de Datasets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_prompts">Historial de Prompts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/estadisticas">
                       Estadísticas
                    </a>
                </li>
            </ul>
        </div>
      </nav>
      <!-- Contenido principal -->
      <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Redactor de Prompts</h1>
        </div>
        <div class="table-responsive">
            <section>
                <h4>Zero-Shot Prompting</h4>
                <p>En esta técnica, el modelo no recibe ejemplos previos. El prompt debe ser claro, conciso y contener toda la información necesaria para que el modelo genere la respuesta correcta.</p>
                <code>"Clasifica el siguiente texto como positivo, negativo o neutral: "La comida estuvo deliciosa y el servicio fue excelente". </code>
                <p></p>
                <div class="form-group">
                    <label for="zeroShotPrompt">Prompt:</label>
                    <textarea class="form-control prompt-area" id="zeroShotPrompt"></textarea>
                    <div class="text-center">
                        <button class="btn btn-primary mt-2" onclick="copyPrompt('zeroShotPrompt')">Copiar Prompt</button>
                        <button class="btn btn-danger mt-2" onclick="copyPrompt('zeroShotPrompt')">Limpiar</button>
                    </div>
                </div>
            </section>
            <section>
                <h4>Few-Shot Prompting</h4>
                <p>Proporciona al modelo unos pocos ejemplos relevantes antes del prompt principal. Esto ayuda al modelo a entender la tarea y el formato de salida deseado.</p>
                <code>"Ejemplos:<br>
                    El hotel era viejo y sucio. -> negativo <br>
                    La película fue emocionante y conmovedora. -> positivo <br>
                    El clima de hoy es templado y soleado. -> neutral <br>
                    <br>
                    Prompt: <br>
                    Clasifica el siguiente texto como positivo, negativo o neutral: "El concierto fue increíble, la banda sonó genial"..". </code>
                <p></p>
                <div class="form-group">
                    <label for="fewShotExamples">Ejemplos (un ejemplo por línea, formato 'entrada -> salida'):</label>
                    <textarea class="form-control prompt-area" id="fewShotExamples"></textarea>
                </div>
                <div class="form-group">
                    <label for="fewShotPrompt">Prompt:</label>
                    <textarea class="form-control prompt-area" id="fewShotPrompt"></textarea>
                    <div class="text-center">
                        <button class="btn btn-primary mt-2" onclick="copyFewShotPrompt()">Copiar Prompt</button>
                        <button class="btn btn-danger mt-2" onclick="copyFewShotPrompt()">Limpiar</button>

                    </div>
                </div>
            </section>
            <section>
                <h4>Chain-of-Thought (CoT) Prompting</h4>
                <p>Fomenta el razonamiento paso a paso del modelo. Incluye preguntas guiadas y espacio para que el modelo detalle su proceso de pensamiento antes de dar la respuesta final.</p>
                <code>"Prompt:<br>
                    ¿Es la siguiente afirmación verdadera o falsa? "Todos los mamíferos ponen huevos".<br>
                    <br>
                    Razonamiento:<br>
                    Los mamíferos son animales de sangre caliente que amamantan a sus crías. La mayoría de los mamíferos dan a luz a crías vivas, no ponen huevos. Sin embargo, hay algunas excepciones, como el ornitorrinco y el equidna, que son mamíferos que ponen huevos.
                    <br><br>
                    Respuesta: <br>
                    Falso."</code>
                <p></p>
                <div class="form-group">
                    <label for="cotPrompt">Prompt (incluye preguntas guiadas y espacio para razonamiento):</label>
                    <textarea class="form-control prompt-area" id="cotPrompt"></textarea>
                    <div class="text-center">
                        <button class="btn btn-primary mt-2" onclick="copyPrompt('cotPrompt')">Copiar Prompt</button>
                        <button class="btn btn-danger mt-2" onclick="copyPrompt('cotPrompt')">Limpiar</button>
                    </div>
                </div>
            </section>
        </div>
      </main>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Script para copiar el prompt de FewShot -->
  <script>
    function copyFewShotPrompt() {
      var examples = document.getElementById('fewShotExamples').value;
      var prompt = document.getElementById('fewShotPrompt').value;
      var fullPrompt = examples + "\n\nPrompt:\n" + prompt;
      navigator.clipboard.writeText(fullPrompt).then(function() {
        alert("¡Prompt copiado al portapapeles!");
      }, function(err) {
        console.error('Error al copiar el prompt: ', err);
      });
    }

    function copyPrompt(promptId) {
      var promptText = document.getElementById(promptId).value;
      navigator.clipboard.writeText(promptText).then(function() {
        alert("¡Prompt copiado al portapapeles!");
      }, function(err) {
        console.error('Error al copiar el prompt: ', err);
      });
    }
  </script>
</body>
</html>
